.emptyCart{
    &_Tabs{
        color: inherit!important;
        font-weight: 600!important;
        font-size: 17px!important;
    }
    &_text{
        margin-bottom: 0;
        font-size: 32px;
        font-weight: inherit;
        color: #666;
    }
    &_button{
        background-color: #E56161!important;
    }
}
